server {
  listen 80;
  server_name _ ;

  location / {
    set $backend_server {{ internal_elb_dns_name }};
    proxy_pass http://$backend_server:5000;
    proxy_http_version 1.1;
    resolver 10.0.0.2 valid=30s;
    resolver_timeout 30s;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    proxy_read_timeout 600s;
    proxy_send_timeout 600s;
  }
}
